body {
    background: #EFEFF2;
    margin: 0;
    color: #19191C;
    font: 400 18px/28px Inter, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: auto;
}

.header {
    padding: 36px 0 0;
}

.header__box {
    display: flex;
    gap: 68px;
    align-items: center;
}

.navigation__list {
    display: flex;
    list-style: none;
    gap: 48px;
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
}

.link {
    color: #19191C;
    text-decoration: none;
}

.btn-box {
    display: flex;
    gap: 48px;
    align-items: center;
}

.logo__header {
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    gap: 14px;
    color: #19191C;
    text-decoration: none;
}

.header__link {
    color: #19191C;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    text-decoration: none;
}

.header__btn {
    background: #19191C;
    color: #EFEFF2;
    padding: 12px 37px;
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}

.offer {
    display: flex;
    justify-content: space-between;
}

.offer__holder {
    width: 648px;
}

.offer__title {
    font-size: 58px;
    line-height: 70px;
    font-weight: 700;
}

.find__program {
    background-color: #DEEFE4;
    height: 596px;
    display: flex;
}

.find__program-container {
    max-width: 1440px;
    margin: auto;
    display: flex;
    align-items: center;
}

.text {
    width: 710px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: none;
    outline: none;
    background-color: inherit;
    border: none;
    border-bottom: 2px solid #19191C;
    padding: 0;
    margin-bottom: 48px;
}

.email {
    width: 710px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: none;
    border: none;
    outline: none;
    background-color: inherit;
    border-bottom: 2px solid #19191C;
    padding: 0;
    margin-bottom: 80px;
}


.find__program-button {
    background-color: #19191C;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    color: #FBFBFC;
    padding: auto;
    width: 144px;
    height: 54px;
    position: relative;
    right: 290px;
}

.find__program-box {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 200px;
}

.find__program-title {
    display: flex;
    font-size: 58px;
    line-height: 70px;
    font-weight: 700;
    margin-bottom: 28px;
}

.find__program-description {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    display: flex;
}

.find__program-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-bottom: -45px;
    right: 90px;
}

.footer {
    padding: 68px 0 0;
    background: #19191C;
}

footer .container {
    margin-bottom: 100px;
    display: flex;
    align-items: start;
}

.logo__footer {
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    gap: 12px;
    color: #FBFBFC;
    text-decoration: none;
}

.footer__box {
    display: flex;
    gap: 28px;
    flex-direction: column;
}

.footer__support {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FBFBFC;
    text-decoration: none;
}

.footer__phone {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FBFBFC;
    text-decoration: none;
}

.sitemap__box {
    display: flex;
    flex-direction: column;
}

.sitemap__title {
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    color: #FBFBFC;
    margin-bottom: 23px;
}

.sitemap__list {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.sitemap__link {
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    text-decoration: none;
    list-style: none;
    color: #EFEFF2;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;

}

.copyright__link {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #6D6D77;
    text-decoration: none;
}

.copyright__text {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #6D6D77;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0;
}